<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/titrePrincipal'); -%>

    <div class="container">
      <h2>Rechercher</h2>
        <%- include('./partials/messages'); -%>
          <form style="display:flex;" action="/users/search" method="get" name="rechercher" class="box">
            <input type="text" name="words" id="words" placeholder="Nom à rechercher">
            <button class="btn btnSmall">Rechercher</button>
          </form>          
        <div><span class="defaultSize">

<%- include('./partials/footer'); -%>
